{% extends 'base.html' %}

{% block content %}
    <main class="main main--about">
        <p>
            Olá, eu sou o Laênio! Adoro estudar e aprender a codificar e dominar o desenvolvimento de software.
            Eu estudo há mais de 1 ano, e fundei a Black Noise para que eu possa ajudar os outros com o que 
            aprendi - meu objetivo é entender tudo o que acontece nos bastidores.
        </p>
        <p>
            A codificação é extremamente gratificante. À medida que você aprende, as coisas começam a fazer sentido.
            Você pode juntar os pontos de todas as coisas que não estavam muito claras antes.
            Eu estou aqui para ser o melhor!
        </p>
        <p>
            Posso resolver problemas de python e JavaScript. particularmente no desenvolvimento web e back-end.
            Tenho experiência com bibliotecas de programação e frameworks como Flask e Flutter.
            Trabalhei extensivamente com MongoDB, PostgreSQL e Firebase.
        </p>
    </main>
{% endblock  %}